@import './assets/anim.css';
@import './assets/slide.css';

#app {
  overflow: hidden;
}
#app, .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
.overlay {
  overflow-y: scroll;
}

.wrap {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  overflow: scroll;
}

.card + .card {
  margin-top: 10px;
}

header { padding-top: 30px; }
header h2 { margin: 0 !important; }
header a { text-decoration: none !important; }
header h2 > * { margin: 8px 15px 0 0; }

section { padding-bottom: 110px; }

@tailwind base;
@tailwind utilities;
@tailwind components;